﻿@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Lista";
    ViewBag.Subtitulo = "Lista de usuário";
    //TO-DO
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Register" class="btn btn-primary">Novo usuário</a>
    </div>
</header>
<hr>

<partial name="_PartialMessage" />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome de usuário</th>
            <th scope="col">E-mail</th>
            <th scope="col">Número de telefone</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr class="table-dark" r>
                <td scope="row">@usuario.UserName</td>
                <td>@usuario.Email</td>
                <td>@usuario.PhoneNumber</td>
                <td>
                    <a asp-action="Register" asp-route-id="@usuario.Id" class="btn btn-sm btn-secondary">
                        <i class="bi-pencil" title="Edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@usuario.Id" class="btn btn-sm btn-danger">
                        <i class="bi-trash"
                            title="Delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>